
.contProd{
    margin-left:47% ;
    border-bottom: 2px solid #7FD3DF; 
    width:100px;
    margin-bottom: 1%;
    display: flex;
    margin-top: 40px;
    // padding: 0% 20%;
}
.prod {
    width: 70%;
    gap:0.5rem;
 
}
.sec1 {
    display: flex;
    // justify-content: space-around;

    justify-content: flex-start;
    margin-left: 7%;
    // justify-content: space-around;
    // margin-left: 30px;
    //margin-top: 40px;
}
.sec1 .prod1 
{
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem ;
    background: #FFF;
    position: relative;
    margin-bottom: 50px;
    // justify-content: space-around;
    // margin-right: -20px;
    //width:60%;
    .iconHeart{
        position: absolute;
        top: 25px;
        right:25px; 
        display: flex;
    
        justify-content: center;
        align-items: center;
        
    }
    .btn{
        position: absolute;
        bottom: 22.8%;
        background-color: #7fd2dfe5;
       // display:none;
        padding: 7.5% 5%;
        width: 93%;
        justify-content: center;
        font-size: larger;
        transform: translateY(-2px);
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        // margin-left: 20px;

    }
}
.sec1 .contComp{
    display: flex;
}

.sec1 .prod1 .handlePound .numPound

{
    color: #7FD3DF;
    text-align: center;
    font-family: Roboto;
    font-size: 18.41px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.sec1 .prod1 .desc
{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.sec1 .prod1 .desc .handlePound{
 display: flex;
 gap:5px;
}
.sec1 .prod1 .desc .nameOfProd
{
    color: rgba(0, 0, 0, 0.70);
text-align: center;
font-family: Tajawal;
font-size: 18.41px;
font-style: normal;
font-weight: 500;
line-height: normal;

width: max-content;
}
.sec1 .prod1 .desc .numPound2
{
    color: #7FD3DF;
    text-align: center;
    font-family: Roboto;
    font-size: 13.807px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration:line-through;
  


}
.sec1 .prod1 .size{
    display: flex;
    gap: 0.5rem;
  justify-content: end;

    width:100%;
}
.sec1 .prod1 .size span
{
 width :22px;
 height: 22px;
 border: 1px solid #000;
 display: flex;
 justify-content: center;
 align-items: center;
}
.sec1 .prod1 .size span:active
{
 background-color: blue;
}

.sec1 .prod1 .prodInfo .star 
{
    display: flex;
    gap: 0.2rem;
    margin-top: -6%;
    .starG
    {
        color:#FFB800;
        font-size: larger;
        gap: 0.5rem;
    }
    .starB
    {
        color: #32323280;
        font-size: larger;
    }
}
.blue{
    background-color: #7FD3DF;
    outline: 1px solid rgb(26, 131, 131);
} 
